@use "_variables" as *;

// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// @media (prefers-color-scheme: dark) {
// @media (prefers-color-scheme: light) {
//     html {
//         color-scheme: light;
//     }
//     body {
//         background-color: $white1 !important;
//         color: $black1 !important;
//     }
//     header, footer {
//         background-color: $white2 !important;
//     }
// }

* {
    box-sizing: border-box;
}

html, body, #root {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    font-family: $primaryFont, $fallbackFontStack;

}

body {
    background-color: $white1;
    color: $white1;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: absolute;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

    &.column {
        flex-direction: column;
    }

    &.left {
        justify-content: flex-start;
    }

    &.right {
        justify-content: flex-end;
    }
}

#main-homepage {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // max-width: 1600px;
    // padding: 30px 0;
}

a {
    text-decoration: none;
    color: $black1;
}

h1 {
    font-family: $primaryFont, $fallbackFontStack;
    color: $black1;
}

#main {
    margin: 0 auto;
    width: 100%;
    max-width: $defaultMaxWidth;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border: 0;
    outline: 0;
    background: #0000;

    &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}
